streamlit==1.32.0
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
scikit-learn==1.4.2
scipy==1.13.1
openpyxl==3.1.2
kaggle>=1.5.16
holidays==0.84
seaborn==0.13.2
requests==2.32.2
setuptools==69.5.1
openai>=1.0.0

